.App {
  text-align: center;
  height: 100vh;
  background-color: purple;
  
  
}

.content{
  width: 100%;
  background-color: DodgerBlue;
  height: calc(100% - 56px);
}

.menu{
  bottom: 0;
  height:56;
  background-color: red;
  width:100%;
  
}